{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script type="text/javascript">
        $(function () {

        })

    </script>
{% endblock %}


{% block content %}

<form class="form-horizontal" id="lkForm">
    {%csrf_token%}
    {% load filters %}
       {% for col in tablecolumns%}
            {% if col.datatype == 'out' %}
                <div class="form-group">
                        <label class="col-md-2 control-label">{{col.description}}</label>
                        <div class="col-md-9">
                                    {% for key,value in out_col_data.items %}
                                        {% if key == col.name%}
                                            {% for item in value%}
                                                  <input type="text" class="form-control" name="{{col.name}}"   value="{{item.text}}" readonly/>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                        </div>
                </div>
           {% else %}
                <div class="form-group">
                        <label class="col-md-2 control-label">{{col.description}}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="{{col.name}}"   value="{{data|get_value:col.name}}" readonly/>
                        </div>
                    </div>
            {% endif %}
       {% endfor %}

    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="button" class="btn btn-danger" onclick="lkWeb.RefreshAndClose()">关闭</button>
        </div>
    </div>
</form>
{% endblock %}