{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
<script>
        tableid  = '{{tableid}}'
        $(function () {
            InitDataTable();
            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });

            $("#btnSearch").click(function () {
                lkWeb.Search($("#txtSearchKey").val(), lkTable);

            })

            $("#excelFile").change(function () {
                var fileObj = document.getElementById("excelFile").files[0]; // js 获取文件对象
                filename = fileObj.name
                var ext=filename.substring(filename.lastIndexOf(".")+1, filename.length);//后缀名
                if (typeof (fileObj) == "undefined" || fileObj.size <= 0 || ext!='xlsx') {
                    alert("请选择excel(.xlsx)文件");
                    return;
                }
                var formFile = new FormData();
                formFile.append("excelFile", fileObj); //加入文件对象
                formFile.append("tableid", tableid);
                var token = lkWeb.GetCsrfToken();
                formFile.append("csrfmiddlewaretoken", token);
                var data = formFile;
                $.ajax({
                    url: "/adm/viewlist/post_import/",
                    data: data,
                    type: "Post",
                    dataType: "json",
                    async: false,
                    cache: false,//上传文件无需缓存
                    processData: false,//用于对data参数进行序列化处理 这里必须false
                    contentType: false, //必须
                    success: function (result) {
                         if (result.flag == true) {
                            parent.layer.alert("操作成功");
                            lkTable.draw(false);//刷新datatable
                         }
                        else {
                            if (IsNotEmpty(result.msg))
                                parent.layer.alert(result.msg);
                            else
                                parent.layer.alert("操作失败")
                        }
                    },
                    error: function (err) {
                        parent.layer.alert("请求失败");
                        console.log(err);

                    }
                })
            })
        });

        function AddModel() {
            lkWeb.GoAction("adm","viewlist", "add",tableid);
        }
        function EditModel() {
            var id = lkWeb.GetCheckValue($(".checkChild"));
            if (id == "")
                parent.layer.alert("请选择");
            else
                lkWeb.GoAction("adm","viewlist", "edit", id+"/" + tableid);
        }
        function Detail() {
                  var id = lkWeb.GetCheckValue($(".checkChild"));
            if (id == "")
                parent.layer.alert("请选择");
            else
                lkWeb.GoAction("adm","viewlist", "detail", id+"/" + tableid,true,"查看详情","95%","95%");
        }
        function DelModel() {
            var ids = lkWeb.GetCheckValueList($(".checkChild"));
            lkWeb.DeleteMulti("adm",ids, "viewlist", lkTable, tableid);
        }

        function Import() {
            $("#excelFile").click();
        }

        function DownloadTemplate() {
             $.ajax({
                          url: "/adm/viewlist/download_import_template/",
                          type: "post",
                          dataType: "json",
                          data: { tableid:tableid, csrfmiddlewaretoken: lkWeb.GetCsrfToken()},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                   window.open('/adm/home/download?fileurl=' + data.data)
                              }
                              else {
                                  parent.layer.alert("操作失败");
                              }
                          },
                          err: function (err) {
                              parent.layer.alert("请求失败");
                              console.log(err);
                          }

                 })
        }

        function Export() {
                 $.ajax({
                          url: "/adm/viewlist/post_export/",
                          type: "post",
                          dataType: "json",
                          data: { tableid:tableid, csrfmiddlewaretoken: lkWeb.GetCsrfToken()},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                  window.open('/adm/home/download?fileurl=' + data.data)
                              }
                              else {
                                  parent.layer.alert("操作失败");
                              }
                          },
                          err: function (err) {
                              parent.layer.alert("请求失败");
                              console.log(err);
                          }

                 })
        }

        var lkTable;
        function InitDataTable() {
            var dataUrl = '/adm/viewlist/get_page_data/';
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "Id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rownum", "sClass": "text-center" },
                 {% load set_val %}
               {% set str = "{{'mData': '{0}', 'sClass': 'text-center'}}," %}
               {% set hiddenstr = "{{'mData': '{0}','visible': false, 'sClass': 'text-center'}},"%}
                  {% for col in tablecolumns%}
                        {% ifequal 'Id' col.name  %}
                          {'mData': '{{col.name}}','name':'{{col.name}}','visible': false, 'sClass': 'text-center'},
                        {% else %}
                           {'mData': '{{col.name}}','name':'{{col.name}}', 'sClass': 'text-center','bSortable': true},
                        {% endifequal %}
                    {% endfor %}
               {% ifnotequal table.extendfunction '' %}
                      {"mData":"ExtendFunction", "sClass": "text-center" },
              {% endifnotequal %}
            ];
           lkTable = lkWeb.LoadTable("lkTable", columns, dataUrl, tableid)
        }
</script>
{% endblock %}


{% block content %}

<div class="form-group">

        {% if table.allowview == 1 %}
            <button type="button" class="btn btn-success" onclick="Detail()">查看详情</button>
        {% endif %}

        {% if table.allowadd == 1 %}
            <button type="button" class="btn btn-success" onclick="AddModel()">添加</button>
        {% endif %}

        {% if table.allowedit == 1 %}
            <button type="button" class="btn btn-info" onclick="EditModel()">编辑</button>
        {% endif %}

        {% if table.allowdelete == 1 %}
            <button type="button" class="btn btn-danger" onclick="DelModel()">删除</button>
        {% endif %}

        {% if table.allowimport == 1 %}
            <button type="button" class="btn btn-primary" onclick="Import()">导入</button>
        {% endif %}

        {% if table.allowexport == 1 %}
            <button type="button" class="btn btn-warning" onclick="Export()">导出</button>
        {% endif %}

        {% if table.allowimport == 1 %}
            <button type="button" class="btn btn-primary" onclick="DownloadTemplate()">下载导入模板</button>
        {% endif %}

</div>
<div class="hidden">
    <input type="file" name="excelfile" id="excelFile" />
</div>
<div class="form-group">
    <div class="input-group">
        <input id="txtSearchKey" type="text" class="form-control" placeholder="搜索关键字">
        <span class="input-group-btn">
            <button id="btnSearch" class="btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
        </span>
    </div>
</div>
{%csrf_token%}
<table class="table table-striped table-hover" id="lkTable">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkAll" />
            </th>
            <th>序号</th>
            {% for col in tablecolumns%}
            <th>{{col.description}} </th>
            {% endfor %}
            {% ifnotequal table.extendfunction '' %}
            <th>操作</th>
            {%endifnotequal%}
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}