{% extends "adm/shared/layout_content.html" %}
{% block title %} {{title}}{% endblock %}

{% block styles %}
<style type="text/css">
        #baseInfo label {
            display: block;
        }
    </style>

{% endblock %}

{% block scripts %}
    <script>
    function getFullNumber(n) {
        //防止科学记数法 如 9.5367431640625e-7
        return parseInt(new Number(n).toLocaleString() * 1)
    }
    function convertByte(n, saveKB = false, saveB = false) {
        var a = 1024 * 1024 * 1024
        var GB = getFullNumber(n / a)
        var b = 1024 * 1024
        var MB = getFullNumber((n - GB * a) / b)
        var c = 1024
        var KB = getFullNumber((n - GB * a - MB * b) / c)
        var B = n - GB * a - MB * b - KB * c

        if (saveKB) {
            if (saveB)
                return '{0}GB {1}MB {2}KB {3}B'.format(GB, MB, KB, B)
            return '{0}GB {1}MB {2}KB'.format(GB, MB, KB)
        }
        else {
            return '{0}GB {1}MB'.format(GB, MB)
        }


    }
    function convertByteToMB(n) {
        return (n / (1024 * 1024)).toFixed(2) + 'MB'
    }
    function convertByteToGB(n) {
        return (n / (1024 * 1024 * 1024)).toFixed(2) + 'GB'
    }
    function getInfo() {
        lkWeb.AjaxPost('/adm/control/getserverinfo/', {}, function (res) {
            var data = JSON.parse(res.data)
            $("#baseInfo").html($("#infoTpl").html().format(
                {
                    MachineName: data.machine_name,
                    OsVersionString: data.os_version_string,
                    CurrentDirectory: data.current_directory,
                    ServerIp: data.server_ip,
                    ServerUrl: data.server_url,
                    ServerPort: data.server_port,
                    RuntimeFramework: data.runtime_framework,
                    LoggedUserName: data.logged_username,
                    CpuUsed: data.cpu_used + '%',
                    DiskWrite: convertByte(data.disk_write),
                    DiskRead: convertByte(data.disk_read),
                    MemoryTotal: convertByteToGB(data.memory_total),
                    MemoryUsedN: convertByteToGB(data.memory_used_n),
                    MemoryAvailableN: convertByteToGB(data.memory_avaliable_n),
                    MemoryUsed: data.memory_used + '%',
                    MemoryAvailable: data.memory_avaliable + '%',
                    //Sent: data.sent,
                    //Received:data.received,
                }
            ))
            $("#networkInfo").empty()
            for (var i = 0; i < data.networks.length; i++) {
                var item = data.networks[i]
                $("#networkInfo").append($("#networkTpl").html().format(
                    {
                        Name: item.name,
                        Sent: convertByte(item.totalsent),
                        Received: convertByte(item.totalreceived),

                    }
                ))
            }
            $("#diskInfo").empty()
            for (var i = 0; i < data.disks.length; i++) {
                var item = data.disks[i]
                $("#diskInfo").append($("#diskTpl").html().format(
                    {
                        Name: item.name,
                        TotalSpace: convertByteToGB(item.total_space),
                        UsedSpaceN: convertByteToGB(item.used_space_n),
                        UsedSpace: item.used_space + '%',
                        FreeSpaceN: convertByteToGB(item.free_space_n),
                        FreeSpace: item.free_space + '%',
                    }
                ))
            }
        }, function (res) {
            //error
        })
    }

    setInterval(function () {
        getInfo()
    }, 3000)
    </script>
    <script type="text/template" id="infoTpl">
        <label>服务器名称:{MachineName}</label>
        <label>操作系统:{OsVersionString}</label>
        <label>目录物理路径:{CurrentDirectory}</label>
        <label>服务器IP:{ServerIp}</label>
        <label>网站域名:{ServerUrl}</label>
        <label>网站端口:{ServerPort}</label>
        <label>Django 版本:{RuntimeFramework}</label>
        <label>服务器当前登陆用户:{LoggedUserName}</label>
        <label>CPU使用率:{CpuUsed}</label>
        <label>总硬盘写入:{DiskWrite}</label>
        <label>总硬盘读取:{DiskRead}</label>
        <label>总内存:{MemoryTotal}</label>
        <label>已用内存:{MemoryUsedN}({MemoryUsed})</label>
        <label>可用内存:{MemoryAvailableN}({MemoryAvailable})</label>
    </script>
    <script type="text/template" id="networkTpl">
        <div>
            <label>网卡名称:{Name}</label>
            <label>已上传:{Sent}</label>
            <label>已下载:{Received}</label>
        </div>
    </script>
    <script type="text/template" id="diskTpl">
        <div>
            <label>磁盘:{Name}</label>
            <label>总空间:{TotalSpace}</label>
            <label>剩余空间:{FreeSpaceN}({FreeSpace})</label>
            <label>已使用空间:{UsedSpaceN}({UsedSpace})</label>
        </div>
    </script>
 {% endblock %}
{% block content %}
{%csrf_token%}
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    基本信息
                </h3>
            </div>
            <div class="panel-body" id="baseInfo">

            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    网卡信息
                </h3>
            </div>
            <div class="panel-body" id="networkInfo">

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    磁盘信息
                </h3>
            </div>
            <div class="panel-body" id="diskInfo">

            </div>
        </div>
    </div>

</div>
{% endblock %}