{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script type="text/javascript">
    $(function () {
        lkWeb.FormValidation($("#lkForm"), function () {
            lkWeb.RefreshAndClose()
        }, "操作成功")
    })

    </script>
{% endblock %}


{% block content %}
<form class="form-horizontal" action="/adm/module/post_add/" method="post" id="lkForm">
{%csrf_token%}
    <div class="form-group">
        <label class="col-md-3 control-label">模块名称</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="Name"
                   data-val="true" data-val-maxlength="模块名称长度不能超过12个字符" data-val-maxlength-max="12"
                   data-val-minlength="模块名称长度不能少于2个字符" data-val-minlength-min="2" data-val-required="模块名称不能为空" />
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">模块描述</label>
        <div class="col-md-7">
            <textarea type="text" class="form-control" name="Description"
                      data-val="true" data-val-maxlength="模块描述长度不能超过100个字符" data-val-maxlength-max="100"
                      data-val-required="模块描述不能为空" rows="3"></textarea>
            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" onclick="lkWeb.RefreshAndClose()">返回</button>
        </div>
    </div>
</form>
{% endblock %}