{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            lkWeb.FormValidation($("#lkForm"), function () {
                lkWeb.GoAction("adm","department", "index")
            }, "操作成功")
        })
    </script>
{% endblock %}


{% block content %}
<form class="form-horizontal" action="@Url.Action("Edit");" method="post" id="lkForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(item => item.Id, new { @class = "form-control" })
    <div class="form-group">
        <input type="hidden" asp-for="ParentId" />
        <label class="col-md-3 control-label">上级部门</label>
        <div class="col-md-7">
            <input type="text" class="form-control" value="@ViewBag.ParentName" readonly="readonly" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">部门名称</label>
        <div class="col-md-7">
            <input type="text" class="form-control" asp-for="Name"
                   data-val="true" data-val-maxlength="部门名称长度不能超过12个字符" data-val-maxlength-max="12"
                   data-val-minlength="部门名称长度不能少于2个字符" data-val-minlength-min="2" data-val-required="部门名称不能为空" />
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">负责人</label>
        <div class="col-md-7">
            <input type="text" class="form-control" asp-for="Leader"
                   data-val="true" data-val-maxlength="负责人长度不能超过12个字符" data-val-maxlength-max="12"
                   data-val-minlength="负责人长度不能少于2个字符" data-val-minlength-min="2" data-val-required="负责人不能为空" />
            <span class="field-validation-valid" data-valmsg-for="Leader" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">部门说明</label>
        <div class="col-md-7">
            <textarea class="form-control" asp-for="Description"
                      data-val="true" data-val-maxlength="部门说明长度不能超过100个字符" data-val-maxlength-max="100" rows="3"></textarea>
            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-success">保存</button>
            <button type="button" class="btn btn-default" onclick="history.go(-1)">
                返回
            </button>
        </div>
    </div>
</form>
{% endblock %}