@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "访问错误";
}



<div>
   无权限访问
</div>
<hr />
<button type="button" class="btn btn-danger"  onclick="history.go(-1)">返回</button>