{% load static i18n %}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lkWeb</title>
    <!--Jquery-->
    <script src="{%static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{%static 'lib/jquery-form/dist/jquery.form.min.js' %}"></script>
    <script src="{%static 'lib/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{%static 'lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js' %}"></script>

    <!--Ztree-->
    <link href="{% static 'lib/zTree/css/metroStyle/metroStyle.css' %}" rel="stylesheet" />
    <script src="{% static 'lib/zTree/js/jquery.ztree.core.js' %}"></script>
    <script src="{% static 'lib/zTree/js/jquery.ztree.excheck.js' %}"></script>

    <!--datatable-->
    <script src="{%static 'lib/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <link href="{%static 'lib/datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet" />

    <!--Bootstrap-->
    <script src="{%static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
    <link href="{%static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{%static 'lib/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <link href="{%static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <script src="{% static 'lib/bootstrap-suggest-plugin/dist/bootstrap-suggest.min.js' %}"></script>

    <!--echart-->
    <script src="{% static 'lib/echart/echarts-all.js'%}"></script>

    <!--Layer-->
    <script src="{%static 'lib/layer/src/layer.js' %}"></script>
    <link href="{%static 'lib/layer/src/theme/default/layer.css' %}" rel="stylesheet" />

    <script src="{%static 'js/lkWeb.js' %}" ></script>
    <link href="{%static 'css/site.css' %}" rel="stylesheet" />

    {% block styles %}    {% endblock %}
    <style>

    </style>
</head>
<body>
    <div class="ibox">
        <div class="ibox-title">
            <h5>{% block title %}   {% endblock %}</h5>
        </div>
        <div class="ibox-content">
            {% block content %}  {% endblock %}
        </div>
    </div>
    {% block scripts %}    {% endblock %}
</body>
</html>
