{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %} title {% endblock %}
    </title>
    <script src="{%static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{%static 'lib/bootstrap/dist/js/bootstrap.js'%}"></script>
    <link href="{%static 'lib/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{%static 'lib/bootstrap/dist/css/bootstrap-theme.min.css'%}" rel="stylesheet" />
    <link href="{%static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" />

    <script src="{%static 'js/lkWeb.js'%}"  ></script>
    <link rel="stylesheet" href="{%static 'css/site.css'%}"   />
    <link href="{%static 'lib/datatables/media/css/jquery.dataTables.min.css'%}" rel="stylesheet" />
    {% block styles %}   {% endblock %}
    <style>

    .miniMenu .title { display: none }
    .miniMenu .sidebar-menu a { padding: 9px; }
    .miniMenu .profile-img { top: 6px; left: -10px; margin-top: 7px; width: 41px; height: 41px; position: relative; }
    .miniMenu .profile-user { margin-top: 20px; padding: 2px; }
    .miniMenu .parent-menu-name { display: none; }
    .miniMenu .menuitem{display:none;}
        .miniMenu .sidebar-footer > a:nth-child(n+2) { display: none; }
        .miniMenu .sidebar-footer > a:nth-child(1) { position: relative; left: 16px; top: 2px; }
    </style>

    <script>
    var collapse = false
    $(function () {
        $(".sidebar-menu").click(function () {
            if (collapse) {
                collapseMenu()
            }
        })
    })
    function collapseMenu() {

        collapse = !collapse
        if (collapse) {
            $("#sidebar-wrapper").removeClass('miniMenu').addClass('miniMenu')

            $("#sidebar-wrapper").animate({ width: "50px" }, 300, 'swing', function () {
                $("#sidebar-wrapper").css('width', '50px')
            });
            $("#page-wrapper").animate({ marginLeft: "50px" }, 300, 'swing', function () {
                $("#page-wrapper").css('margin-left', '50px')
            });
            $(".miniMenu .sidebar-footer").animate({ width: "50px" }, 300, 'swing', function () {
                console.log('50')
                $(".miniMenu .sidebar-footer").css('width', '50px')
            });
            //$("#sidebar-wrapper").css('width', '50px')
            //$("#page-wrapper").css('margin-left', '50px')

        }
        else {
            $("#sidebar-wrapper").animate({ width: "200px" }, 300, 'swing', function () {
                $("#sidebar-wrapper").css('width', '200px')
            });
            $("#page-wrapper").animate({ marginLeft: "200px" }, 300, 'swing', function () {
                $("#page-wrapper").css('margin-left', '200px')
            });
            $(".miniMenu .sidebar-footer").animate({ width: "200px" }, 300, 'swing', function () {
                $(".miniMenu .sidebar-footer").css('width', '200px')
            });
            $("#sidebar-wrapper").removeClass('miniMenu')
        }
    }
    </script>
</head>
<body>
    <div id="wrapper">
        <!-- 左侧导航栏开始-->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <div class="navbar-header profile">
                <h2 class="title"><a href="#">lkWeb </a></h2>
                <img src="{%static 'images/head.jpg'%}" alt="..." class="img-circle profile-img">

                <div style="padding: 3px; " class="profile-user">
                    <i class="fa fa-user"></i>
                   {{username}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="sidebar-menu" >
                {% load set_val %}
                    {% for module in modules %}
                    <a href="#a{{module.id}}" class="nav-header menu-first collapsed"
                                 data-toggle="collapse"><i class="{{module.icon}}"></i><span class="parent-menu-name">{{module.name}}</span></a>
                           <ul id="a{{module.id}}" class="nav nav-list collapse menu-second menuitem">
                           {% for menu in menus %}
                                {% if menu.parentid == module.id %}
                                   {% if menu.name != '基础数据菜单权限'%}
                                  <li><a data-index="{{menu.listorder}}" data-url="{{menu.url}}" class="J_menuItem">
                                    <i class="fa fa-chevron-right"></i>{{menu.name}}</a></li>
                               {% endif %}
                                {% endif %}
                           {% endfor %}
                            </ul>
                   {% endfor %}
            </div>

            <div class="sidebar-footer">
                <a><span class="fa fa-reorder" onclick="collapseMenu()"></span></a>
                <a><span class="fa fa-lock"></span></a>
                <a><span class="fa fa-desktop"></span></a>
                <a href="/adm/user/logout"><span class="fa fa-power-off"></span></a>
            </div>
        </nav>
        <!-- 左侧导航栏结束 -->
        <!-- 右侧部分开始 -->
        <div id="page-wrapper">
            <!--右侧顶部开始-->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0 ">
                    <ul class="nav navbar-top-links navbar-right">

                        <li class="hidden-xs" style="padding: 3px; ">
                            <a href="/adm/user/logout"><i class="fa fa fa-sign-out"></i> 退出</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--右侧顶部结束-->
            <!--右侧选项卡开始-->
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="glyphicon glyphicon-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content" style="margin-left: 0px; ">
                        <a href="javascript:;" class="active J_menuTab" data-id="/adm/control/welcome">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="glyphicon glyphicon-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown" aria-expanded="true">
                        关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--右侧选项卡结束-->
            <!--右侧框架内容开始-->
            <div class="row J_mainContent" id="content-main">
                {% block content %}

                {% endblock %}
                <iframe id="frmBody" name="iframe0" class="J_iframe" data-id="/adm/control/welcome" style="width: calc(100%); height: calc(100%); border: 0; margin: 0; padding: 0; min-height: 400px; overflow-y: scroll " src="/adm/control/welcome"></iframe>

            </div>
            <!--右侧框架内容结束-->
            <!--右侧底部开始-->
            <div class="footer">
                <div class="pull-right">
                    © 2018 - 2018 <a href="http://loneking.net" target="_blank">©lkWeb</a>
                </div>
            </div>
            <!-- 右侧底部结束-->

        </div>
        <!-- 右边部分结束 -->
    </div>

    <!--Layer-->
    <script src="{%static 'lib/layer/src/layer.js'%}"></script>
    <link href="{%static 'lib/layer/src/theme/default/layer.css'%}" rel="stylesheet" />
    <script src="{%static 'js/contabs.js'%}"></script>
    <script>

</script>
    {% block scripts %}   {% endblock %}

</body>
</html>
