{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script>
        $(function () {
            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });

            InitDepartmentTree();
        })

        var departmentId = "";
        var table_user;

        var zNodes_department = [];
        var setting_department= {
            check: {
                enable: false, //不开启
                chkboxType: { "Y": "", "N": "" }
              },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeClick: onNodeClick
            }
        };

        function onNodeClick( treeId, treeNode, clickFlag) {
            departmentId = treeNode.id;
            LoadDataTable();
            table_user.draw();
        }

        function InitDepartmentTree() {
            LoadData();

            $.fn.zTree.init($("#departmentTree"), setting_department, zNodes_department);


        }
      function LoadData() {
            $.ajax({
                type: "post",
                url:"/adm/department/get_list/",
                dataType: "json",
                data: { csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()},
                async: false,
                success: function (data) {
                    zNodes_department = data;

                },
                error: function (err) {
                    console.log(err);
                }
            })

        }
        function LoadDataTable() {
            var dataUrl = '/adm/user/get_department_user/';
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "user__id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rownum", "sClass": "text-center" },
                { "mData": "user__username","sClass": "text-center" },
                { "mData": "realname",  "sClass": "text-center" },
                { "mData": "user__email", "sClass": "text-center", "bSortable": false },
                { "mData": "status",  "sClass": "text-center" }
            ];
            table_user = lkWeb.LoadTable("table_user", columns, dataUrl, departmentId)
         }

        function DelUser() {
            var ids = lkWeb.GetCheckValueList($(".checkChild"));
            if (ids.length < 1) {
                parent.layer.alert("请选择");
                return;
            }
            parent.layer.confirm("确认删除" + ids.length + "条数据？", {
                btn: ["确认", "取消"]
            }, function () {
                 $.ajax(
                    {
                        type: 'post',
                        url: '/adm/user/remove_department_user/',
                        data: {
                            UserIDs: ids,
                           DepartmentId: departmentId,
                            csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                        },
                        success: function (result) {
                            if (result.flag == true) {
                                parent.layer.alert("删除成功")
                                table_user.draw(false);
                            }
                            else {
                                parent.layer.alert("删除失败");
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            parent.layer.alert("删除失败");
                        }
                    })
            }, function () {

            }
            )
        }

        function AddUser() {
            lkWeb.GoAction("adm","user", "select_user", departmentId, true, "选择用户", "80%", "80%");
        }
        //这个函数给 SelectUser子页面回调用
        function SelectUser() {
            lkWeb.CloseLayert();
            table_user.draw();
        }

    </script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                部门列表
            </div>
            <div class="panel-body">
                <ul id="departmentTree" class="ztree"></ul>
            </div>
        </div>
    </div>
 {%csrf_token%}
    <div class="col-sm-8">
        <div class="panel panel-info">

            <div class="panel-heading">
                用户列表
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <button type="button" class="btn btn-success" onclick="AddUser()">添加</button>
                    <button type="button" class="btn btn-danger" onclick="DelUser()">删除</button>
                </div>
                <table class="table table-striped table-hover" id="table_user">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="checkAll" />
                            </th>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>电子邮箱</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}