@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "忘记密码";
}

<form class="form-horizontal" action="@Url.Action("User", "ForgetPwd");" method="post" id="lkForm">
    <div class="form-group">
        <label class="col-md-3 control-label">用户名</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="txtUserName" name="UserName" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">姓名</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="txtRealName" name="RealName" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">邮箱</label>
        <div class="col-md-3">
            <input type="email" class="form-control" id="txtEmail" name="Email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="button" class="btn btn-success">找回密码</button>
        </div>
    </div>
</form>
