{% load static i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery-form/dist/jquery.form.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js' %}"></script>

    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.js' %}"></script>
    {#<link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />#}
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <script src="{% static 'lib/layer/src/layer.js' %}"></script>
    <script src="{% static 'js/lkWeb.js' %}"></script>
    <link href="{% static 'css/login/css/base.css' %}" rel="stylesheet" />

    <link href="{% static 'css/login/css/login.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/site.css' %}" asp-append-version="true" />

    <script type="text/javascript">
    $(function () {
        lkWeb.FormValidation($("#loginForm"), function () {
            var next= '{{next}}'
            if (next != '')
                window.location.href = next
            else
                lkWeb.GoAction("adm", "control", "index")
        }, "登陆成功")

    })
    </script>

    </head>
<body>
    <div class="login">
        <form action="/adm/user/post_login/" method="post" role="form" id="loginForm">
              {%csrf_token%}
            <div class="logo"></div>
            <div class="login_form">
                <div class="user">
                    <input type="text" class="text_value" id="txtUserName" name="UserName" placeholder="请输入登陆账户"
                           data-val="true" data-val-maxlength="用户名长度不能超过20个字符" data-val-maxlength-max="20"
                           data-val-minlength="用户名长度不能少于2个字符" data-val-minlength-min="2" data-val-required="用户名不能为空" />
                    <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                    <input type="password" class="text_value" id="txtPwd" name="Password" placeholder="请输入密码"
                           data-val="true" data-val-maxlength="密码长度不能超过20个字符" data-val-maxlength-max="20"
                           data-val-minlength="密码长度不能少于3个字符" data-val-minlength-min="2" data-val-required="密码不能为空" />
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <button type="submit" class="button">登录</button>
            </div>

            <div id="tip"></div>
            <div class="foot">
            </div>
        </form>
    </div>

</body>
</html>
