{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script type="text/javascript">
        var table_user;
        var departmentId = '{{departmentid}}';
        $(function () {
            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });

            LoadDataTable();
        })
          function LoadDataTable() {
            var dataUrl = '/adm/user/get_not_department_user/';
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "user__id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rownum", "sClass": "text-center" },
                { "mData": "user__username",   "sClass": "text-center" },
                { "mData": "personname",  "sClass": "text-center" },
                { "mData": "user__email",  "sClass": "text-center", "bSortable": false },
                { "mData": "status","sClass": "text-center" }
        ];
            table_user = lkWeb.LoadTable("table_user", columns, dataUrl,departmentId)
        }
          function Submit() {
              var ids = lkWeb.GetCheckValueList($(".checkChild"));
              if (ids.length < 1) {
                  parent.layer.alert("请选择");
                  return;
              }
              $.ajax({
                  type: "post",
                  url: "/adm/user/set_user_department/",
                                       data: {
                            UserIDs: ids,
                           DepartmentId: departmentId,
                            csrfmiddlewaretoken: lkWeb.GetCsrfToken()
                        },
                  dataType: "json",
                  async: false,
                  success: function (result) {
                      if (result.flag == true) {
                          parent.layer.alert("操作成功");
                          lkWeb.RefreshAndClose()
                      }
                      else {
                          if (result.msg.IsNotEmpty())
                              parent.layer.alert(result.msg);
                          else
                              parent.layer.alert("删除失败");
                      }
                  },
                  error: function () {
                      parent.layer.alert("提交请求失败");
                  }

              })
          }
    </script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="form-group">
        <button type="button" class="btn btn-success" onclick="Submit()">确定</button>
        <button type="button" class="btn btn-danger" onclick="parent.SelectUser()">返回</button>
    </div>
    {%csrf_token%}
    <table class="table table-striped table-hover" id="table_user">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="checkAll" />
                </th>
                <th>序号</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>电子邮箱</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

{% endblock %}