{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <link href="{% static 'lib/zTree/css/metroStyle/metroStyle.css' %}" rel="stylesheet" />
    <script src="{% static 'lib/zTree/js/jquery.ztree.core.js' %}"></script>
    <script src="{% static 'lib/zTree/js/jquery.ztree.excheck.js' %}"></script>

    <script>
        var zNodes_role = [];

        var zNodes_menu = [];

        function LoadData() {
            $.ajax({
                type: "post",
                url: "/adm/role/get_list/",
                data: {
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                },
                dataType:"json",
                async: false,
                success: function (data) {
                    zNodes_role = data;

                },
                error: function (err) {
                    console.log(err);
                }
            })
            $.ajax({
                type: "post",
                url: "/adm/role/get_menu_list/",
                data: {
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
                },
                dataType:"json",
                async: false,
                success: function (data) {
                    zNodes_menu = data;
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        var setting_role = {
            check: {
                enable: true,
                chkStyle: "radio",
                radioType: "level"
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
           callback: {
                onCheck: onRoleCheck
            },
           view: {
               },
        };

        var setting_menu = {
            check: {
                enable: true,
                chkboxType: { "Y": "p", "N": "s" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            view: {
             },
        };

        var roleId="";
        function onRoleCheck(e, treeId, treeNode) {
            roleId = treeNode.id;
            $.ajax({
                url: "/adm/role/get_role_menus",
                type: "post",
                dataType: "json",
                data: { roleId: roleId, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val() },
                async: false,
                success: function (data) {
                    var treeObj = $.fn.zTree.getZTreeObj("menuTree");
                    treeObj.checkAllNodes(false);
                    $.each(data,function (n,value) {
                        var node = treeObj.getNodeByParam("id", value.menuId);
                        treeObj.checkNode(node, true, true);
                    })
                },
                err: function (err) {
                    console.log(err);
                }
            })
        }

        function GetData() {
            var data = { RoleIds: [], MenuIds: [] };
            data.RoleIds.push(roleId);
            var treeObj = $.fn.zTree.getZTreeObj("menuTree");
            nodes = treeObj.getCheckedNodes(true);
            for (var i = 0; i < nodes.length; i++) {
                if(nodes[i].type!="module") //防止 第一级节点的模块的ID被设置权限 这个模块是总的系统里的模块
                    data.MenuIds.push(nodes[i].id);
            }
            return data;
        }

        $(function () {

            LoadData();

            $.fn.zTree.init($("#menuTree"), setting_menu, zNodes_menu);
            $.fn.zTree.init($("#roleTree"), setting_role, zNodes_role);

            $("#btnClear").click(function () {
                var treeObj = $.fn.zTree.getZTreeObj("menuTree");
                treeObj.checkAllNodes(false);
            })
            $("#btnSave").click(function () {
                if (roleId == "") {
                    parent.layer.alert("请选择角色");
                    return;
                }
                parent.layer.confirm("确认保存", { btn: ["确认", "取消"] },
                    function () {
                        var data = GetData();
                      $.ajax({
                          url: "/adm/role/auth_menus",
                          type: "post",
                          dataType: "json",
                          data: { model: data, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                  parent.layer.alert("操作成功");
                              }
                              else {
                                  parent.layer.alert(data.msg);
                              }
                          },
                           err: function (err) {
                              console.log(err);
                          }
                        })
                    }, function () {

                    }
                )
            })



        })
    </script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <button id="btnSave" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-save"></i> 保存</button>
        <button id="btnClear" class="btn btn-w-m btn-danger" type="button"><i class="glyphicon glyphicon-remove-circle"></i> 清空</button>
    </div>
</div>
<hr />
{%csrf_token%}
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                角色列表
            </div>
            <div class="panel-body">
                <ul id="roleTree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                权限菜单
            </div>
            <div class="panel-body">
                <ul id="menuTree" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}