{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            lkWeb.FormValidation($("#lkForm"), function () {
                lkWeb.RefreshAndClose()
            }, "操作成功")
        })

    </script>
{% endblock %}


{% block content %}
<form class="form-horizontal" action="/adm/systemoption/post_edit/" method="post" id="lkForm">
   <input type="hidden" name="Id" value="{{id}}"/>
     {%csrf_token%}
    <div class="form-group">
        <label class="col-md-3 control-label">代码</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="Code" value="{{code}}"
                   data-val-minlength="代码长度不能少于1个字符" data-val-minlength-min="1" data-val-required="代码不能为空" />
            <span class="field-validation-valid" data-valmsg-for="Code" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">值</label>
        <div class="col-md-7">
            <textarea type="text" class="form-control" name="Value"
                      data-val="true" data-val-required="值不能为空" rows="3">{{value}}</textarea>
            <span class="field-validation-valid" data-valmsg-for="Value" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" onclick="lkWeb.RefreshAndClose()">返回</button>
        </div>
    </div>
</form>
{% endblock %}