{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}

    <script>
        $(function () {
            InitDataTable();

            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });

            $("#btnSearch").click(function () {
                lkWeb.Search($("#txtSearchKey").val(), lkTable);

            })
        });

        function AddModel() {
            lkWeb.GoAction("admin","systemoption", "add", 0);
        }
        function EditModel() {
            var id = lkWeb.GetCheckValue($(".checkChild"));
            if (id == "")
                parent.layer.alert("请选择");
            else
                lkWeb.GoAction("admin","systemoption", "edit", id);
        }

        function DelModel() {
            var ids = lkWeb.GetCheckValueList($(".checkChild"));
            lkWeb.DeleteMulti("admin",ids, "systemoption", lkTable);
        }

        var lkTable;
        function InitDataTable() {
            var dataUrl = '@Url.Action("GetPageData")';
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rowNum", "sClass": "text-center" },
                { "mData": "code", "sClass": "text-center" },
                { "mData": "value", "sClass": "text-center" }
            ];
            lkTable = lkWeb.LoadTable("lkTable", columns, dataUrl)
    }
    </script>
{% endblock %}


{% block content %}
<div class="form-group">
    <button type="button" class="btn btn-success" onclick="AddModel()">添加</button>
    <button type="button" class="btn btn-info" onclick="EditModel()">编辑</button>
    <button type="button" class="btn btn-danger" onclick="DelModel()">删除</button>
</div>
<div class="form-group">
    <div class="input-group">
        <input id="txtSearchKey" type="text" class="form-control" placeholder="搜索关键字">
        <span class="input-group-btn">
            <button id="btnSearch" class="btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
        </span>
    </div>
</div>
@Html.AntiForgeryToken()
<table class="table table-striped table-hover" id="lkTable">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkAll" />
            </th>
            <th>序号</th>
            <th>代码</th>
            <th>值</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}
