{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script>
        $(function () {
            LoadChartByDay();
            LoadChartByWeek();
            LoadChartByMonth();
            LoadChartByYear();
        })
        function ShowChart(myChart,title,result) {
            option = {
                title: {
                    text: title,
                    subtext: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['用户数', '页面访问数']
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: result.xAxis,
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '用户数',
                        type: 'bar',
                        data: result.visitors,
                        markPoint: {
                            data: [
                                { type: 'max', name: '最大值' },
                                { type: 'min', name: '最小值' }
                            ]
                        },
                        markLine: {
                            data: [
                                { type: 'average', name: '平均值' }
                            ]
                        }
                    },
                    {
                        name: '页面访问数',
                        type: 'bar',
                        data: result.visitedPage,

                        markLine: {
                            data: [
                                { type: 'average', name: '平均值' }
                            ]
                        }
                    }
                ]
            };
            myChart.hideLoading();
            myChart.setOption(option);
        }

        function LoadChartByDay() {
            var myChart = echarts.init(document.getElementById('chartByDay'));
            myChart.showLoading({ text: '数据获取中', effect: 'whirling' });
            $.ajax({
                type: "post",
                datatype: "json",
                url:'/adm/log/get_chart_by_day/',
                data: { csrfmiddlewaretoken: lkWeb.GetCsrfToken() },
                success: function (result) {
                    ShowChart(myChart, "当日站点访问统计", result);
                },
                error: function (err) {
                    console.log(err);
                }

            })
        }
        function LoadChartByWeek() {
            var myChart = echarts.init(document.getElementById('chartByWeek'));
            myChart.showLoading({ text: '数据获取中', effect: 'whirling' });
            $.ajax({
                type: "post",
                datatype: "json",
                url:'/adm/log/get_chart_by_week/',
                data: { csrfmiddlewaretoken: lkWeb.GetCsrfToken() },
                success: function (result) {
                    ShowChart(myChart, "一周站点访问统计", result);
                },
                error: function (err) {
                    console.log(err);
                }

            })
        }
                function LoadChartByMonth() {
                    var myChart = echarts.init(document.getElementById('chartByMonth'));
                    myChart.showLoading({ text: '数据获取中', effect: 'whirling' });
                    $.ajax({
                        type: "post",
                        datatype: "json",
                     url:'/adm/log/get_chart_by_month/',
                        data: { csrfmiddlewaretoken: lkWeb.GetCsrfToken() },
                        success: function (result) {
                            ShowChart(myChart, "一个月内站点访问统计", result);
                        },
                        error: function (err) {
                            console.log(err);
                        }

                    })
                }
          function LoadChartByYear() {
            var myChart = echarts.init(document.getElementById('chartByYear'));
            myChart.showLoading({ text: '数据获取中', effect: 'whirling' });
            $.ajax({
                type: "post",
                datatype: "json",
                url:'/adm/log/get_chart_by_year/',
                data: { csrfmiddlewaretoken: lkWeb.GetCsrfToken() },
                success: function (result) {
                    ShowChart(myChart, "一年内站点访问统计", result);
                },
                error: function (err) {
                    console.log(err);
                }

            })
        }
    </script>
{% endblock %}


{% block content %}

{%csrf_token%}
<div id="chartByDay" style="width: 90%; height: 400px;"></div>
<div id="chartByWeek" style="width: 90%; height: 400px;"></div>
<div id="chartByMonth" style="width: 90%; height: 400px;"></div>
<div id="chartByYear" style="width: 90%; height: 400px;"></div>

{% endblock %}

