{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
<script>
    $(function () {
        InitDataTable();
        $(".checkAll").click(function () {
            var check = $(this).prop("checked");
            $(".checkChild").prop("checked", check);
        });

        $("#btnSearch").click(function () {
            lkWeb.Search($("#txtSearchKey").val(), table_login);

        })

    });


    var table_login;
    function InitDataTable() {
        var dataUrl = '/adm/log/get_login_log/';   //后天获取json数据的地址
        var columns = [
            {
                "sClass": "text-center",
                "mData": "id",
                "mRender": function (data, type, row) {
                    return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                },
                "bSortable": false
            },
            { "mData": "rownum", "sClass": "text-center" },
            { "mData": "username", "name": "username", "sClass": "text-center" },
            { "mData": "clientip", "name": "clientip", "sClass": "text-center" },
            { "mData": "clientinfo", "name": "clientip", "sClass": "text-center" },
            { "mData": "createdatetime", "name": "createdatetime", "sClass": "text-center" },
            { "mData": "description", "name": "description", "sClass": "text-center" }
        ];
        table_login = lkWeb.LoadTable("table_login", columns, dataUrl);
    }


</script>
{% endblock %}


{% block content %}
<div class="form-group">
    <div class="input-group">
        <input id="txtSearchKey" type="text" class="form-control" placeholder="搜索关键字">
        <span class="input-group-btn">
            <button id="btnSearch" class="btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
        </span>
    </div>
</div>
{%csrf_token%}
<table class="table table-striped table-hover" id="table_login">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkAll" />
            </th>
            <th>序号</th>
            <th>用户名</th>
            <th>客户端IP</th>
            <th>客户端信息</th>
            <th>登陆时间</th>
            <th>说明</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}