{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();

        lkWeb.FormValidation($("#lkForm"), function () {
            lkWeb.RefreshAndClose()
        }, "操作成功")
    })

    </script>

{% endblock %}


{% block content %}
<form class="form-horizontal" action="/adm/tablecolumn/post_add/" method="post" id="lkForm">
    {%csrf_token%}
    <div class="form-group">
        <label class="col-md-2 control-label">所属表</label>
        <div class="col-md-4">
           <select name="TableId" class="form-control" >
             {% for item in tablelist%}
                <option value="{{item.id}}">{{item.name}}</option>
             {% endfor %}
            </select>
        </div>
        <label class="col-md-2 control-label">列名称</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="Name"
                   data-val="true" data-val-maxlength="列名称长度不能超过12个字符" data-val-maxlength-max="50"
                   data-val-minlength="列名称长度不能少于2个字符" data-val-minlength-min="2" data-val-required="列名称不能为空" />
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">列说明</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="Description"
                   data-val="true" data-val-maxlength="列说明长度不能超过50个字符" data-val-maxlength-max="50"
                   data-val-required="列说明不能为空" />
            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
        </div>
        <label class="col-md-2 control-label">数据类型</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="DataType"
                   data-val="true" data-val-maxlength="数据类型长度不能超过50个字符" data-val-maxlength-max="12"
                   data-val-required="数据类型不能为空" data-toggle="tooltip" title="out/enum/radio/checkbox/date/datetime"/>
            <span class="field-validation-valid" data-valmsg-for="DataType" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">是否必填</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="Required" />
        </div>
        <label class="col-md-2 control-label">输入控制</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="MaxLength" data-toggle="tooltip" title="最大长度" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">详情显示顺序</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="ViewOrder" />
        </div>
        <label class="col-md-2 control-label">列表显示顺序</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="ListOrder" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">添加编辑显示顺序</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="EditOrder" />
        </div>

    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">导入是否可见</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="ImportVisible" />
        </div>
        <label class="col-md-2 control-label">导出是否可见</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="ExportVisible" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">详情是否可见</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="ViewVisible" />
        </div>
        <label class="col-md-2 control-label">添加是否可见</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="AddVisible" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">查询是否可见</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="SearchVisible" />
        </div>
        <label class="col-md-2 control-label">编辑是否可见</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="EditVisible" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">列表是否可见</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="ListVisible" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">外部SQL</label>
        <div class="col-md-7">
            <textarea class="form-control" name="OutSql" rows="3" data-toggle="tooltip" title="例如Id,Name|Sys_Department|ParentId=0 (主键,列名|表名|条件) 可选参数{UserId}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">枚举值范围</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="EnumRange" data-toggle="tooltip"  title="例如 模块,菜单,按钮" />
        </div>
        <label class="col-md-2 control-label">单选/多选值范围</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="SelectRange" data-toggle="tooltip" title="例如 1,模块|2,菜单|3,按钮"/>
        </div>
    </div>

        <label class="col-md-2 control-label">是否主键</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="PrimarKey" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" onclick="lkWeb.RefreshAndClose()">返回</button>
        </div>
    </div>
</form>
{% endblock %}