{% extends "adm/shared/layout_content.html" %}
{%block title%}{{title}}{% endblock%}

{% block scripts %}
    <script>
        $(function () {
            InitDataTable();

            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });

            $("#btnSearch").click(function () {
                lkWeb.Search($("#txtSearchKey").val(), lkTable);

            })
        });

        function AddModel() {
            lkWeb.GoAction("adm","tablecolumn", "add", 0);
        }
        function EditModel() {
            var id = lkWeb.GetCheckValue($(".checkChild"));
            if (id == "")
                parent.layer.alert("请选择");
            else
                lkWeb.GoAction("adm","tablecolumn", "edit", id);
        }

        function DelModel() {
            var ids = lkWeb.GetCheckValueList($(".checkChild"));
            lkWeb.DeleteMulti("adm",ids, "tablecolumn", lkTable);
        }
        function CopyModel() {
            var id = lkWeb.GetCheckValue($(".checkChild"));
            if (id == "") {
                parent.layer.alert("请选择");
                return;
            }
            lkWeb.Confirm("确认复制", function () {
                lkWeb.AjaxPost("/adm/tablecolumn/post_copy/", { id: id }, function () {
                    parent.layer.alert("复制成功");
                lkTable.draw(false);
            })
            })
        }
        var lkTable;
        function InitDataTable() {
            var dataUrl = '/adm/tablecolumn/get_page_data/';
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rownum", "sClass": "text-center" },
                { "mData": "tablename", "sClass": "text-center" },
                { "mData": "name", "sClass": "text-center" },
                { "mData": "description", "sClass": "text-center" },
                { "mData": "datatype", "sClass": "text-center" },
                { "mData": "addvisible", "sClass": "text-center" },
                { "mData": "editvisible", "sClass": "text-center" },
                { "mData": "listvisible", "sClass": "text-center" },
                { "mData": "searchvisible", "sClass": "text-center" },
             ];
            lkTable = lkWeb.LoadTable("lkTable", columns, dataUrl)
        }
        function ShowSetValue(filedName) {
            layer.open({
                type: 1,
                title: "批量设置属性",
                closeBtn: 1,
                scrollbar :false,
                 area: '30%',
                 content: $('#setValue'),
                 btn: ['确定', '取消'],
                 yes: function (index, layero) {
                     SetValue(filedName);
                     layer.close(index);
                                     }
                , cancel: function (index, layero) {
                    layer.close(index)
                },
            });
        }
        function SetValue(filedName) {
            var ids = lkWeb.GetCheckValueList($(".checkChild"));
            var value = $("#txtValue").val();
            if (value != '1' && value != '0') {
                alert('请输入1或0 代表是或否')
                return
            }
            lkWeb.Confirm("确认修改", function () {
                lkWeb.AjaxPost("/adm/tablecolumn/setvalue/", { ids: ids, value: value, filedname: filedName }, function () {
                    parent.layer.alert("修改成功");
                    lkTable.draw(false);
                })
            })
        }

        function SelectByTable() {
            var tableId = $("#TableList").val();
            lkWeb.Search("TableId|" + tableId, lkTable);
        }
    </script>
{% endblock %}


{% block content %}
<div id="setValue" class="form-horizontal" style="display:none;margin-top:5px;">
    <div class="form-group">
        <label class="col-md-3 control-label">设置值</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="Value" id="txtValue"
                   data-val="true" data-val-required="值不能为空" />
            <span class="field-validation-valid" data-valmsg-for="Value" data-valmsg-replace="true"></span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            批量设置属性
        </div>
        <div class="panel-body shadow-btn">
            <button type="button" class="btn" onclick="ShowSetValue('required')">是否必填</button>
            <button type="button" class="btn" onclick="ShowSetValue('importvisible')">导入是否可见</button>
            <button type="button" class="btn" onclick="ShowSetValue('exportvisible')">导出是否可见</button>
            <button type="button" class="btn" onclick="ShowSetValue('viewvisible')">详情是否可见</button>
            <button type="button" class="btn" onclick="ShowSetValue('addvisible')">添加是否可见</button>
            <button type="button" class="btn" onclick="ShowSetValue('editvisible')">编辑是否可见</button>
            <button type="button" class="btn" onclick="ShowSetValue('listvisible')">列表是否可见</button>
        </div>
    </div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-success" onclick="AddModel()">添加</button>
    <button type="button" class="btn btn-info" onclick="EditModel()">编辑</button>
    <button type="button" class="btn btn-danger" onclick="DelModel()">删除</button>
    <button type="button" class="btn btn-warning" onclick="CopyModel()">复制</button>
</div>
<div class="form-group">
    <div class="input-group">
        <select id="TableList" class="form-control" >
             {% for item in tablelist%}
                <option value="{{item.id}}">{{item.name}}</option>
             {% endfor %}
        </select>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick="SelectByTable()"> <i class="fa fa-search"></i> 查看</button>
        </span>
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <input id="txtSearchKey" type="text" class="form-control" placeholder="搜索关键字">
        <span class="input-group-btn">
            <button id="btnSearch" class="btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
        </span>
    </div>
</div>
{%csrf_token%}
<table class="table table-striped table-hover" id="lkTable">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="checkAll" />
            </th>
            <th>序号</th>
            <th>所属表</th>
            <th>列名</th>
            <th>列说明</th>
            <th>列类型</th>
            <th>添加是否可见</th>
            <th>编辑是否可见</th>
            <th>列表是否可见</th>
            <th>查询是否可见</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

{% endblock %}